- content_for :title, 'New User'
- content_for :action_bar do
  .btn-toolbar
    .btn-group

    .btn-group.pull-right
      = link_to(users_path, { :class => 'btn btn-inverse' }) do
        %i{ :class => 'icon-chevron-left icon-white'}
        Cancel

= form_for @user do |f|

  = render 'fields', :f => f

  .btn-toolbar
    -# We can't seem to do f.submit as a block so replace with a button
    %button{ :class => 'btn btn-success' }
      %i{ :class => 'icon-thumbs-up icon-white' }
      Add User