- content_for :title, 'New User'
- content_for :action_bar do
  .btn-toolbar
    .btn-group

    %a{ :class => 'btn btn-inverse pull-right', :href => users_path }
      %i{ :class => 'icon-chevron-left icon-white'}
      Cancel

= form_for @user do |f|

  = render 'fields', :f => f

  .btn-toolbar
    %button{ :class => 'btn btn-primary' }
      %i{ :class => 'icon-ok-sign icon-white' }
      Add User