- if Errbit::Config.github_authentication && user == current_user
  - if user.github_account?
    = link_to('#github-unlink-confirm', { :data => { :toggle => 'modal' } , :class => 'btn btn-danger' }) do
      %i{ :class => 'icon-magnet icon-white'}
      Unlink Github Account

    = render 'modals/github_unlink', :user => @user

  - else
    = link_to(user_omniauth_authorize_path(:github), { :class => 'btn btn-info' }) do
      %i{ :class => 'icon-share icon-white' }
      Link GitHub account