- if current_user
  .nav-collapse
    %ul{:id => 'session-links', :class => 'nav pull-right'}
      %li.divider-vertical
      %li= link_to 'Sign out', destroy_session_path(:user), :id => 'sign-out'
      %li.divider-vertical
      %li= link_to 'Edit profile', edit_user_path(current_user), :id => 'edit-profile'