- content_for :title, 'All Errors'
- content_for :action_bar do
  .btn-toolbar
    .btn-group
      = link_to(errs_path, { :class => 'btn btn-inverse' }) do
        %i{ :class => 'icon-eye-close icon-white' }
        Show Only Unresolved Errors

= render 'table', :errs => @problems
