- content_for :title, 'All Errors'
- content_for :action_bar do
  .btn-toolbar
    .btn-group
      %a{ :class => 'btn btn-inverse', :href => errs_path }
        %i{ :class => 'icon-eye-open icon-white' }
        Show Only Unresolved Errors

= render 'table', :errs => @problems
