- content_for :title, 'Search Results'

- content_for :action_bar do
  .btn-toolbar
    .btn-group
      - if params[:resolved].present?
        = link_to(params.except(:resolved), { :class => 'btn btn-inverse' }) do
          %i{ :class => 'icon-eye-close icon-white' }
          Show Only Unresolved Errors

      - else
        = link_to(params.merge({:resolved => true}), { :class => 'btn btn-info' }) do
          %i{ :class => 'icon-eye-open icon-white' }
          Show All Errors

= render 'table', :errs => @problems
