- content_for :title, 'Add App'

= form_for @app do |f|

  = render 'fields', :f => f

  .btn-toolbar
    %button{ :class => 'btn btn-primary' }
      %i{ :class => 'icon-ok-sign icon-white' }
      Add App

