body {
  position: relative;
  padding-top: 60px;
  background-color: #fff;
}

@media (max-width: 980px) and (min-width: 768px) {
  body {
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 0;
  }
}

tr.resolved {
  opacity: 0.3;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

tr.resolved:hover {
  opacity: 0.7;
}

/* Watchers and Issue Tracker Forms */
div.watcher.nested .watcher_params,
div.issue_tracker.nested .tracker_params {
  display: none;
}
div.nested .chosen {
  display: block !important;
}
div.nested .choose {
  margin-bottom: 0.5em;
}

div.issue_tracker.nested label.label_radio {
  color: #929292;
  padding-left: 33px;
  margin-bottom: 6px;
  margin-right: 8px;
  line-height: 30px;
}

#deploys_div, #repository_div, #watchers_div {
  display: none;
}

.image_preloader {
  display: none;
}


/* Notices Pagination */
/*.notice-pagination {
  float: left;
  margin-right: 10px;
}
 */

.notice-pagination-loader {
  visibility: hidden;
  float: left;
  margin-right: 2em;
}
.notice-pagination-loader img {
  vertical-align: middle
}

.pager .disabled {
  visibility: hidden;
}

footer {
   position:fixed;
   left:0;
   bottom:0;
   height:30px;
   width:100%;
   background:#000;
   color: #fff;
}