~ link_to_unless current_page.first?, raw('Newer'), url, :class => "previous_page previous", :rel => "prev", :remote => remote do |name|
  ~ content_tag :span, name, :class => 'previous_page disabled'
